@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Roboto:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Roboto:wght@500&display=swap');

body {
    padding: 0px;
    background-color: rgb(146, 185, 144);
}
nav {
    background-color: rgb(221, 135, 22);
    border: 1px solid rgb(255, 255, 255);
    padding: 16px

}

nav > a {
    padding: 16px;
    font-family: 'Roboto', sans-serif;
}

nav > a:hover {
    background-color: #f5c979;
    transition: background-color 1s;
}

main {
    font-family: 'Gloock', serif;
    padding: 16px;
}

#title_design {
    font-size: 800%;
    color:rgb(235, 238, 235);
    text-shadow: 0 3px rgb(42, 56, 70);
}



.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px
}

img:hover {
    box-shadow: 0 3px 3px rgb(18, 26, 14);
    transition: box-shadow 1s;
}

img {
    height: 200px;
    width: 200px;
}

thead {
    font-family: 'Roboto', sans-serif;
    font-size: 175%;
    font-weight: bold;
    box-shadow: 0 2px 2px 0px 2px rgb(42, 56, 70);
}

tbody {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    /* box-shadow: 0 2px 4px rgb(42, 56, 70); */
}

tbody:hover {
    font-weight: bold;
    box-shadow: 0 1px rgb(42, 56, 70);
    transition: box-shadow 5s;
}

footer {
    background-color: rgb(72, 155, 72);
    font-family: 'Roboto', sans-serif;
    position: auto;
    padding: 20px;
    margin: 150px 10px
}

a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
a:active {text-decoration: none;}

.tacos-link{
    font-size: 125%;
    color: rgb(29, 53, 18);

    /* top: 0;
    transition: top ease 0.5s; */
}

.tacos-link:hover {
    /* top: -10px; */
    color:#3e644f;
    transition: color .7s;
}

.recipe-items {
    display: grid;
    grid-template-columns: 10px, 4fr;
    padding: 0px 10px;
}

#title-color {
    color: rgb(47, 122, 47)
}

tr:nth-child(even) {
    background-color: rgb(228, 228, 228);
    /* border: 20px */
}
